This BIMserver is being hosted by <a href="http://logic-labs.nl"><img src="http://logic-labs.nl/images/logiclabs-100px.png"/></a>.

Have you seen our <a href="http://bimbrowser.logic-labs.nl/">BIM Browser</a> application?